.nav{
  height: 100%;
  width: 100%;
  background: #191f28;
 
}

.content{
  background-color: white;
}

.grid{
  height: 100%;
}

#b{
  background-image: linear-gradient(to bottom right, #BAA7FF, #6F319E);
  width: 20%;
  height: 20%;
  border-radius: 100%;
  
}
section.naveintraege {
  //border-bottom: 1px solid white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #d6d6d6;
  vertical-align: middle;
}

section.naveintraege mat-icon {
  vertical-align: middle;
  font-size: 4vh;
  margin-right: 10%;
  color: #d6d6d6;
  height: 34px;
  margin-left: 10%;
}

/*
section.naveintraege {
    &:before, &:after {
      position: absolute;
      //left: -100px;
      //bottom: -200px;
      //width: 100px;
      //height: 500px;
      border-radius: 50%;
      background: #a657c5;
      content: '';
      opacity: 0;
      transition: transform 0.15s cubic-bezier(0.4, 0.4, 0.4, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
      z-index: -1;
      transform: translate(100%, -70%) translate3d(3, 3, 3);
    }
    &:hover {
      &:before, &:after {
        opacity: 0.15;
        transition: transform 0.2s cubic-bezier(0.4, 0.7, 0.7, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
      }
      &:before {
        transform: translate3d(50%, 0, 0) scale(0.9);
      }
      &:after {
        transform: translate(50%, 0) scale(1.1);
      } 
    }
  }
  section.naveintraege {
    position: relative;
    margin: 0;
    //height: 60px;
    //width: 100%;
    outline: none;
    text-decoration: none;
    display: flex;
    //justify-content: center;
    //align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    //border-bottom: 1px solid white;
    //color: white;
    //font-weight: 400;
    //font-size: 20px;
    font-family: inherit;
    z-index: 0;
    //overflow: hidden;
    transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
    &:hover {
      animation: rotate 0.7s ease-in-out both;
      span {
        animation: storm 0.7s ease-in-out both;
        animation-delay: 0.06s;
      }
    }
  }
  */
  
  
