<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
</style>
<div>
<mat-sidenav-container class="sidenav-container">
  <button mat-button (click)="drawer.toggle()">M</button>
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      mode="'over'"
      opened="false">
    <mat-nav-list class="navigation-list">
      <section class="naveintraege">
        <button mat-button (click)="drawer.toggle()">M</button>
      </section>

      <section class="naveintraege">
        <!--<div id="profil"><mat-icon id="person">person</mat-icon><br>Profil</div>-->
        <mat-icon>person</mat-icon><span class="navigation-item-label">Profile</span>
      </section>

      <section class="naveintraege">
        <mat-icon>view_quilt</mat-icon><span class="navigation-item-label">Dashboard</span>
      </section>

      <section class="naveintraege">
        <mat-icon>brush</mat-icon><span class="navigation-item-label">New Drawing</span>
      </section>

      <section class="naveintraege">
        <mat-icon>folder</mat-icon><span class="navigation-item-label">Library</span>
      </section>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    
  </mat-sidenav-content>
</mat-sidenav-container>
<sketchpad></sketchpad>
</div>