.nav{
  height: 100%;
  width: 100%;
  background: #191f28;
 
}

.content{
  background-color: white;
}

.grid{
  height: 100%;
}

#b{
  background-image: linear-gradient(to bottom right, #BAA7FF, #6F319E);
  width: 20%;
  height: 20%;
  border-radius: 100%;
  
}
section.naveintraege {
  //border-bottom: 1px solid white;
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #d6d6d6;
  vertical-align: middle;
}

section.naveintraege mat-icon {
  vertical-align: middle;
  font-size: 4vh;
  margin-right: 10%;
  color: #d6d6d6;
  height: 34px;
  margin-left: 10%;
}


