<mat-grid-list cols="100" class="grid" rowHeight="fit">
    <mat-grid-tile rows="5" class="nav" colspan="5" id="test">

        <div class="sidenav">
            <!--<section class="titel">
                MUSIC SKETCHPAD
            </section>-->

            <a routerLink="/login">
                <section class="naveintraege">
                    <!--<div id="profil"><mat-icon id="person">person</mat-icon><br>Profil</div>-->
                    <mat-icon id="person">person_outline</mat-icon><br>
                </section>
            </a>

            <a routerLink="/dashboard">
                <section id="activeEintrag" class="naveintraege">
                    <mat-icon>dashboard_outline</mat-icon>
                </section>
            </a>

            <a routerLink="/sketchpad">
                <section class="naveintraege">
                    <mat-icon>gesture</mat-icon>
                </section>
            </a>


            <a routerLink="/bibliothek">
                <section class="naveintraege">
                    <mat-icon>folder_outline</mat-icon>
                </section>
            </a>
        </div>

    </mat-grid-tile>

    <mat-grid-tile class="content" colspan="95">

        <div id="whiteLayer">
            <div id="steps">
                <div class="step" id="first">
                    <h1>1.</h1>
                    <br>
                    <h1>Zeichnen</h1>
                </div>
                <div class="step" id="second">
                    <h1>2.</h1>
                    <br>
                    <h1>Abspielen</h1>
                </div>
                <div class="step">
                    <h1>3.</h1>
                    <br>
                    <h1>Speichern</h1>
                </div>
            </div>
        </div>

    </mat-grid-tile>

</mat-grid-list>