$width-sketchpad: 80vw;
$height-sketchpad: 100vh;


#canv-grid{
    width: 100vw;
    height: 100vh;
}




mat-grid-list {
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav{
    height: 100%;
    width: 100%;
    background: #607D8B;  
   
  }
  
  .content{
    background-color: #F6F6F6;
  }
  
  .grid{
    height: 100%;
  }

  a{
      color: #c2bcbc;
      text-decoration: none;
  }
