<mat-grid-list cols="10" rowHeight="fit" class="top">
    <mat-grid-tile colspan="2" rowspan="1" id="melodyContr-btn">
        <button mat-fab [disabled]="!melodyCreated" color="none" (click)="onPlayed()"><mat-icon>play_arrow</mat-icon></button>
        <button id="stop" mat-fab disabled><mat-icon>stop</mat-icon></button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1"></mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" id="drawContr-btn">
        <button mat-fab [matMenuTriggerFor]="colors" [color]="colorBtnEdit" (click)="onConvertToDrawMode()" id="edit"><mat-icon>edit</mat-icon></button>
        <button mat-fab id="saveBtn" [color]="none" (click)="saveMelody()"><mat-icon>save</mat-icon></button>
        <button mat-fab [color]="colorBtnGrid" id="grid-btn" (click)="onConvertToEditMode()"><mat-icon>grid_on</mat-icon></button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1"></mat-grid-tile>
</mat-grid-list>

<mat-menu #colors="matMenu">
    <button mat-menu-item (click)="onOpenDialog()" (closed)="closed()"><mat-icon>colorize</mat-icon> Change Color/Instrument</button>
    <button mat-menu-item [matMenuTriggerFor]="line"><mat-icon>line_weight</mat-icon> Change Lineweight</button>
</mat-menu>

<mat-menu #line="matMenu">
    <button mat-menu-item (click)="changeLineWeight(10)">Light</button>
    <button mat-menu-item (click)="changeLineWeight(20)">Medium</button>
    <button mat-menu-item (click)="changeLineWeight(30)">Thick</button>
</mat-menu>