.c-picker{
    /*margin: 2px;
    box-shadow: none;
    height: 4vh;
    width: 2vw;
    font-size: 1rem;
    padding-left: 1vw;
    box-shadow: 1px 0.5px 0.5px gray;*/
    margin-top: 2px;
    margin-bottom: 2px;
}
#color{
    margin: 5px;
}

.instrument:hover{
    cursor: pointer;
}