@font-face { font-family: 'Starting_DEMO';
  src: url('../../assets/fonts/Starting_DEMO.ttf') format('truetype'); }

mat-grid-list {
    font-family: 'Montserrat', sans-serif;
  }
  
  .background{
    height: 100%;
    width: 100%;
    background-image: url("../../assets/animate_Zeichenfläche\ 1.svg");
    background-repeat: no-repeat;
    background-size: 130% 120%;
    background-position: center;

  }

  #background-image{
    height: 100%;
    width: 100%;
    
  }
  
  .grid{
    height: 100%;
  }

  #background{
      width: 70%;
  }

#heading{
  font-family: Starting_DEMO;
  font-size: 7vw;
}
 
#icon{
  height: 10vh;
  width: 10vh;
  margin-top: 0vw;
  margin-left: 0vw;
}

  