<mat-grid-list cols="10" class="grid" rowHeight="fit">
    <mat-grid-tile rows="3" class="nav" colspan="2">

        <app-nav class="nav"></app-nav>
    </mat-grid-tile>

    <mat-grid-tile class="content" colspan="8">

        <mat-card id="registrierenbox">


            <!--<form class="registrierenForm">-->
            <div class="registrierenForm">
                <h2>Registriere dich</h2>
                <br>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Benutzername</mat-label>
                    <input id="benutzername" matInput [formControl]="benutzernameFormControl" [(ngModel)]="benutzername"
                        name="benutzername" type="text">
                    <mat-error *ngIf="benutzernameFormControl.hasError('required')">
                        Benutzername muss angegeben werden
                    </mat-error>
                    <mat-error
                        *ngIf="benutzernameFormControl.hasError('minlength') && !benutzernameFormControl.hasError('required')">
                        Benutzername muss 6 Zeichen haben
                    </mat-error>
                </mat-form-field>

                <br>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input id="email" matInput [formControl]="emailFormControl" [(ngModel)]="email" name="email"
                        placeholder="example@mail.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Email muss gültig sein
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email muss angegeben werden
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Passwort</mat-label>
                    <input id="passwort1" [formControl]="passwort1FormControl" [(ngModel)]="passw1" matInput
                        type="password">
                    <mat-error *ngIf="passwort1FormControl.hasError('required')">
                        Passwort muss angegeben werden
                    </mat-error>
                    <mat-error
                        *ngIf="passwort1FormControl.hasError('minlength') && !passwort1FormControl.hasError('required')">
                        Passwort muss 8 Zeichen haben
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Passwort wiederholen</mat-label>
                    <input id="passwort2" [formControl]="passwort2FormControl" [(ngModel)]="passw2" matInput
                        type="password">
                    <mat-error *ngIf="passwort2FormControl.hasError('required')">
                        Passwort muss angegeben werden
                    </mat-error>
                    <mat-error
                        *ngIf="passwort2FormControl.hasError('minlength') && !passwort2FormControl.hasError('required')">
                        Passwort muss 8 Zeichen haben
                    </mat-error>
                </mat-form-field>
                <div id="errorPasswort">

                </div>
                <br>

                <button class="buttonSend" mat-raised-button color="accent" (click)="createJson()">Registriere
                    dich</button>
                <br>

                <a routerLink="/login">
                    <h5>Schon Mitglied?<br>Melde dich an</h5>
                </a>
            </div>
            <!--</form>-->

        </mat-card>

    </mat-grid-tile>

</mat-grid-list>