<mat-grid-list cols="15" class="grid" rowHeight="fit">
    <mat-grid-tile rows="3" class="nav" colspan="1">

        <div class="sidenav">
            <!--<section class="titel">
                MUSIC SKETCHPAD
            </section>-->

            <a routerLink="/login">
                <section class="naveintraege">
                    <!--<div id="profil"><mat-icon id="person">person</mat-icon><br>Profil</div>-->
                    <mat-icon id="person">person_outline</mat-icon><br>
                </section>
            </a>

            <a routerLink="/dashboard">
                <section class="naveintraege">
                    <mat-icon>dashboard_outline</mat-icon>
                </section>
            </a>

            <a routerLink="/sketchpad">
                <section id="activeEintrag" class="naveintraege">
                    <mat-icon>gesture</mat-icon>
                </section>
            </a>


            <a routerLink="/bibliothek">
                <section class="naveintraege">
                    <mat-icon>folder_outline</mat-icon>
                </section>
            </a>
        </div>


    </mat-grid-tile>

    <mat-grid-tile colspan="2">
        <mat-list>
            <mat-list-item *ngFor="let track of tracks; let i = index" class="btn">
                <button mat-fab [style.color]="data.editMelody.color_instrument[i].color" color="" (click)="displayTrack(i)">{{i}}</button>
            </mat-list-item>
        </mat-list>
        <button mat-fab color="none" (click)="displayMelodyPoints()" id="allBtn">All</button>
    </mat-grid-tile>

    <mat-grid-tile class="content" colspan="12">
        <div>
            <mat-grid-list cols="5" rowHeight="fit" id="canv-grid">
                <mat-grid-tile colspan="1" rowspan="7"></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="1">
                    <div id="control">
                        <button mat-fab [color]="none" (click)="play()" class="saveBtn"><mat-icon>play_arrow</mat-icon></button>
                        <button mat-fab [color]="none" (click)="save()" class="saveBtn"><mat-icon>save</mat-icon></button>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile colspan="1" rowspan="7"></mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="5">
                    <mat-card id="canv" (window:resize)="onResize($event)"></mat-card>
                </mat-grid-tile>
                <mat-grid-tile colspan="3" rowspan="1"></mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-grid-tile>
</mat-grid-list>