<mat-grid-list cols="10" class="grid" rowHeight="fit">
    <mat-grid-tile rows="3" class="nav" colspan="2">

        <app-nav class="nav"></app-nav>

    </mat-grid-tile>

    <mat-grid-tile class="content" colspan="8">

        <mat-card id="loginbox">


            <form class="loginForm">
                <h2>Melde dich an</h2>

                <br>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input id="email" matInput  [formControl]="emailFormControl" [(ngModel)]="email" name="email" placeholder="example@mail.com">
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Email muss gültig sein
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email muss angegeben werden
                    </mat-error>
                </mat-form-field>
                <br>
                <mat-form-field appearance="outline" class="example-full-width">
                    <mat-label>Passwort</mat-label>
                    <input id="passwort1" [(ngModel)]="passw" matInput type="password" name="passw">
                </mat-form-field>
                <br>
                <button class="buttonSend" mat-raised-button color="accent" (click)="login()">Anmelden</button>
                <br>
                <a routerLink="/registrieren">
                    <h5>Noch kein Mitglied?<br>Registrieren</h5>
                </a>

            </form>

        </mat-card>

    </mat-grid-tile>

</mat-grid-list>