$width-sketchpad: 80vw;
$height-sketchpad: 100vh;



#canv-grid{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
}




mat-grid-list {
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav{
    height: 100%;
    width: 100%;
    background: #607D8B;
  
   
  }
  
  .content{
    background-color: #F6F6F6;

  
  }

  .buttonRight{
    float: right;
  }

  .contentList{
    border-radius: 2px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
  }

  .item{
    margin-top: 4vh;
  }
  
  .grid{
    height: 100%;
  }
  


  #kreis{
      width: 20vw;
      height: 20vw;
      border-style: solid;
      border-width: 1px;
      border-radius: 100%;
      margin: 2vw;
      //background-color: red;
  }

  .kreis{
    width: 20vw;
      height: 20vw;
      border-radius: 100%;
      border-width: 1px;
      border-style: solid;
      margin: 2vw;
      //background-color: red;
      position: relative;

  }

  .kreis:hover .post-s{
    width: 20vw;
  }
  .post-s{
    width: 0vw;
    height: 20vw;
    border-radius: 100%;
    background: #607d8bda;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5 ease-in;

  }

  .post-s h2{
    text-align: center;
    color: white;
    border: 6px solid white;
    padding: 10px;
  }

  #nomelody {
    width: 75%;
    height: 75%;
    background-color: #F6F6F6;
  }

  
  /*#profil{
    width: 100%;
    padding-left: 30%;
  
  }*/
  
  /*#person{
    width: 100%;
    font-size: 7vw;
    padding-left: 20%;
    padding-top: 10%;
  
  
  }*/
  
  /*
  section.naveintraege {
      &:before, &:after {
        position: absolute;
        //left: -100px;
        //bottom: -200px;
        //width: 100px;
        //height: 500px;
        border-radius: 50%;
        background: #a657c5;
        content: '';
        opacity: 0;
        transition: transform 0.15s cubic-bezier(0.4, 0.4, 0.4, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
        z-index: -1;
        transform: translate(100%, -70%) translate3d(3, 3, 3);
      }
      &:hover {
        &:before, &:after {
          opacity: 0.15;
          transition: transform 0.2s cubic-bezier(0.4, 0.7, 0.7, 1), opacity 0.5s cubic-bezier(0.02, 0.01, 0.47, 1);
        }
        &:before {
          transform: translate3d(50%, 0, 0) scale(0.9);
        }
        &:after {
          transform: translate(50%, 0) scale(1.1);
        } 
      }
    }
    section.naveintraege {
      position: relative;
      margin: 0;
      //height: 60px;
      //width: 100%;
      outline: none;
      text-decoration: none;
      display: flex;
      //justify-content: center;
      //align-items: center;
      cursor: pointer;
      text-transform: uppercase;
      background-color: transparent;
      //border-bottom: 1px solid white;
      //color: white;
      //font-weight: 400;
      //font-size: 20px;
      font-family: inherit;
      z-index: 0;
      //overflow: hidden;
      transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
      &:hover {
        animation: rotate 0.7s ease-in-out both;
        span {
          animation: storm 0.7s ease-in-out both;
          animation-delay: 0.06s;
        }
      }
    }
    */
    
    
  
