<mat-grid-list cols="10" class="grid" rowHeight="fit">
    <mat-grid-tile rows="3" class="nav" colspan="2">

        <app-nav class="nav"></app-nav>


    </mat-grid-tile>
    <mat-grid-tile class="content" colspan="8">

<!--

        <div class="kreis">

            <div class="post-s">
                <h2>Hover</h2>
            </div>

        </div>



        <div class="kreis">
            <div class="post-s">
                <h2>Hover</h2>
            </div>
        </div>


        <div class="kreis">
            <div class="post-s">
                <h2>Hover</h2>
            </div>
        </div>
    -->
    <mat-list>
        <mat-list-item>
            <button mat-button (click)="displayMelodies()">Find</button>
        </mat-list-item>
    </mat-list>
    </mat-grid-tile>


</mat-grid-list>