
    <section class="titel">
        MUSIC SKETCHPAD
    </section>

    <section class="profil">
        <!--<div id="profil"><mat-icon id="person">person</mat-icon><br>Profil</div>-->
        <mat-icon id="person">person</mat-icon><br>
        <div id="profilBez"><a routerLink="/login">Profil</a></div>
    </section>

<a routerLink="/dashboard">
    <section class="naveintraege">
        <mat-icon>view_quilt</mat-icon>Dashboard
    </section>
</a>

<a routerLink="/sketchpad">
    <section class="naveintraege">
        <mat-icon>brush</mat-icon>Neue Melodie
    </section>
</a>


<a routerLink="/bibliothek">
    <section class="naveintraege">
        <mat-icon>folder</mat-icon>Bibliothek
    </section>
</a>
