<div id="sketchpad">
    
    <mat-grid-list cols="12" id="canv-grid" rowHeight="fit">
        <mat-grid-tile colspan="12" rowspan="1">
            <controls [melodyCreated]="melodyCreated" [colorBtnEdit]="colorBtnEdit" [colorBtnGrid]="colorBtnGrid" (toEditMode)="convertToEditMode()" (toDrawMode)="convertToDrawMode()" (played)="playMelody()"></controls>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="8" class="sidebar">
        </mat-grid-tile>
        
        <mat-grid-tile colspan="8" rowspan="8" id="canv-g">
            <mat-card id="canv"></mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="8" class="sidebar"></mat-grid-tile>
        
        <mat-grid-tile colspan="12" rowspan="1"></mat-grid-tile>
    </mat-grid-list>
</div>
