<div id="sketchpad">
    <mat-toolbar>
        <input type="color" id="colorPicker" (click)="disableControls()" [(ngModel)]="color" (change)="convertHex2Rgb()">
        <button mat-icon-button *ngIf="melodyCreated === true" (click)="playMelody()"><mat-icon>play_arrow</mat-icon></button>
        <button mat-icon-button *ngIf="melodyCreated === true"><mat-icon>stop</mat-icon></button>
        <button mat-flat-button *ngIf="melodyCreated === true">Continue</button>
        <button mat-flat-button *ngIf="melodyCreated === true" id="convert-btn">Convert</button>
        <button mat-icon-button *ngIf="melodyCreated === true" id="delete-btn"><mat-icon color="warn">delete</mat-icon> </button>
    </mat-toolbar>
    <mat-grid-list cols="10" id="canv-grid" rowHeight="10vh">
        <mat-grid-tile colspan="10" rowspan="1">
            <span *ngIf="state == 'chooseColor'">Choose a color</span>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="8"></mat-grid-tile>
        <mat-grid-tile id="canv" colspan="3" rowspan="6"></mat-grid-tile>
        <mat-grid-tile id="canvEditMode" colspan="2" rowspan="2"></mat-grid-tile>
    </mat-grid-list>
</div>
