$width-sketchpad: 80vw;
$height-sketchpad: 100vh;


#canv-grid{
    width: 100vw;
    height: 100vh;
}
#sketchpad{
    height: $height-sketchpad;
    width: $width-sketchpad;
    background: #F6F6F6;
}


mat-card{
    padding: 0;
    width: 63vw;
    height: 77vh;
    margin: 0;
}

.top{
    width: 100vw;
    height: 100vh;
}

#stop{
    left: 0.5vw;
}

#melodyContr-btn{
    margin-left: 6vw;
}

#drawContr-btn{
    margin-left: 18vw;
}