$width-sketchpad: 80vw;
$height-sketchpad: 100vh;


#canv-grid{
    width: 100vw;
    height: 100vh;
}
#sketchpad{
    margin-top: 30px;
    margin-left: -50px;
    height: $height-sketchpad;
    width: $width-sketchpad;
    background: #F6F6F6;
}

mat-toolbar{
    padding-left: 10vw;
    background: white;
}

mat-card{
    padding: 0;
    width: 63vw;
    height: 77vh;
    margin: 0;
}

.top{
    width: 100vw;
    height: 100vh;
}

#stop{
    left: 0.5vw;
}

#melodyContr-btn{
    margin-left: 6vw;
}

#drawContr-btn{
    margin-left: 18vw;
}

mat-grid-list {
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav{
    height: 100%;
    width: 100%;
    background: #221C29;
  
   
  }
  
  .content{
    background-color: #F6F6F6;
  }
  
  .grid{
    height: 100%;
  }
  
  
  section.naveintraege {
    //border-bottom: 1px solid white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: #c2bcbc;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1vw;
    margin-top: 8px;
  }
  
  section.naveintraege mat-icon {
    vertical-align: middle;
    font-size: 4vh;
    margin-right: 10%;
    color: #c2bcbc;
    height: 34px;
    margin-left: 10%;
    margin-top: 1%;
  }
  
  section.profil {
    padding-top: 6vh;
    padding-bottom: 6vh;
    color: #c2bcbc;
    //vertical-align: middle;
    padding-left: 33%;
    cursor: pointer;
    margin-top: 5%;
  }
  
  #profilBez {
    width: 50%;
    padding-left: 16%;
    padding-top: 35%;
    font-size: 1vw;
  }
  
  section.profil mat-icon {
    vertical-align: middle;
    font-size: 7vw;
    margin-right: 10%;
    color: #c2bcbc;
    height: 34px;
   // margin-left: 10%;
  }
  
  section.titel {
    color: #c2bcbc;
    font-size: 1.5vw;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  section.naveintraege:hover{
    cursor: pointer;
    background: #372D42;
  
  }

  #link{
    color: #c2bcbc;
    text-decoration: none;
  }
  



  //NAVIGATION
  .sidebar {
    margin-left: 64px;
    padding: 0;
    width: 200px;
    position: relative;
    background-color: #f1f1f1;
    height: 100%;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #555;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
    
  
